.about-me {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify; /* Pour un alignement propre sur les écrans larges */
}

.cv-link a {
  color: deepskyblue;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.cv-link a:hover {
  text-decoration: underline;
  color: dodgerblue; /* Change légèrement la couleur au survol */
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-me {
    font-size: 1.1rem; /* Réduit légèrement la taille de la police */
    line-height: 1.5; /* Ajuste l'espacement pour plus de confort */
    text-align: left; /* Texte aligné à gauche pour une meilleure lisibilité */
    padding: 0 10px; /* Ajoute un peu de marge intérieure */
  }

  .cv-link a {
    font-size: 1rem; /* Réduit la taille du texte du lien */
  }
}

@media (max-width: 480px) {
  .about-me {
    font-size: 1rem; /* Taille encore réduite pour les petits écrans */
    line-height: 1.4; /* Réduit l'espacement entre les lignes */
    margin-top: 15px; /* Diminue l'espacement supérieur */
  }

  .cv-link a {
    font-size: 0.9rem; /* Réduit encore la taille pour les liens */
    padding: 5px; /* Ajoute un peu d'espacement autour */
  }
}
